<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Wacky Widgets</title>
</head>
<body>
  <h1>Wacky Widgets</h1>
  
  <div>
    
    {% if widgets.count %}
        <table>
            <thead>
                <tr> 
                    <th>description</th>
                    <th>quantity</th>       
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                {% for widget in widgets %}
                <tr>
                    <td>{{ widget.description }}</td>
                    <td>{{ widget.quantity }}</td>
                    <td><a href="{% url 'widget_delete' widget.id %}">x</a></td>         
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
    <h3>No widgets Exist</h3>
    <hr>
    {% endif %}
    <br><br>
    <hr>
    <a href="/add">add a widget</a>
    <!-- Since the instructions say 'A SINGLE page (template) with a title of "Wacky Widgets", that displays all widgets in the database and provides a form to add a new widget.', the form should actually be displayed here and not on a separate page. That's why you needed the ModelForm in forms.py -->
    <!-- <form class="col" method="POST">
      {% csrf_token %}
      <input class="form-control mr-sm-2" style="center" type="search" placeholder="Add Description" aria-label="Search" name="description"><br>
      <input class="form-control mr-sm-2" type="search" placeholder="Add Quantity" aria-label="Search" name="quantity"><br>
      <button class="btn btn grey" type="submit">ADD WIDGET</button><br>
    </form> -->
  </div>
</body>
</html>